<% content_for :page_title do %>
  Try Ambrosia
<% end %>

<% content_for :head do %>
  <script type="text/javascript" src="javascripts/ambrosia-browser.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/try_it.css" />
<% end %>

<% content_for :header_section do %>
  <h2>Try Ambrosia</h2>
<% end %>

<% content_for :index_section do %>
<% end %>

<textarea id="amb-source">
</textarea>

<textarea id="tml-source">
</textarea>
